<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discografía Myke</title>
    <link rel="icon" href="../img/disco.svg">
</head>
<body>
    <h1>Discografía de Myke Towers</h1>
    <h3>El top 3 discos de myke towers:</h3>

    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Título</th>
                <th>Año de lanzamiento</th>
                <th>Género Musical</th>
                <th>Duración Total</th>
                <th>Portada</th>
            </tr>
        </thead>
        <tbody align="center">
            <tr bgcolor="lightgrey">
                <td><a href="./lykemyke.html">Lyke Myke</a></td>
                <td>23 de Abril de 2021</td>               
                <td>Rap Latino, Trap (Rap), Rap Contemporáneo</td>
                <td>42 Minutos Aprox.</td>
                <td><a href="./lykemyke.html"><img src="../img/portadalykemyke.jpg" alt="portadalykemyke" width="150vh" height="150vh"></a></td>
            </tr>
            <tr bgcolor="lightblue">
                <td><a href="./lavida.html">La vida es una</a></td>
                <td>23 de Marzo de 2023</td>
                <td>Reggaetón, Trap, Urbano</td>
                <td>1 Hora y 10 Minutos Aprox.</td>
                <td><a href="./lavida.html"><img src="../img/lavida.png" alt="portadalavida" width="150vh" height="150vh"></a></td>
            </tr>
            <tr bgcolor="#dfcbb0">
                <td><a href="./panteranegra.html">La Pantera Negra</a></td>
                <td>22 de Agosto de 2024</td>
                <td>Trap Latino, Urbano</td>
                <td> 1 hora y 5 minutos Aprox.</td>
                <td><a href="./panteranegra.html"><img src="../img/panteranegra.jpg" alt="portadapanteranegra" width="150vh" height="150vh"></a></td>
            </tr>
    </table>
    <audio controls autoplay>
        <source src="../audio/audio.mp3" type="audio/mp3">
        Tu navegador no soporta el elemento de audio.
      </audio>

    <footer>
        <hr>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./discografia.html">Discografía</a></li>
                <li><a href="./forms.html">Formulario de inscripción</a></li>
            </ul>
        </nav>
        <hr>
    </footer>
</body>
</html>