<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripción Newsletter Myke Towers</title>
    <link rel="icon" href="../img/logoform.svg">
</head>
<body>
    <h1>Inscripción Newsletter Myke Towers</h1>
    <h3>Suscribete a la Newsletter de Myke para ser de los primeros en escuchar sus nuevas canciones!!</h3>
    <hr>
    <nav>
        <ul style="list-style-type:none; padding: 0;">
            <li style="display:inline; margin-right: 20px;">
                <a href="../index.html"><strong>Inicio</strong></a>
            </li>
            <li style="display:inline; margin-right: 20px;">
                <a href="./discografia.html"><strong>Discografía</strong></a>
            </li>
            <li style="display:inline;">
                <a href="./forms.html"><strong>Formulario de inscripción</strong></a>
            </li>
        </ul>
    </nav>
 <hr>
 <br>
    <form action="/submit" method="POST">
        <label for="first_name">Nombre:</label>
        <input type="text" id="first_name" name="first_name" placeholder="Introduce tu nombre" required>
        <br><br>

        <label for="last_name">Apellidos:</label>
        <input type="text" id="last_name" name="last_name" placeholder="Introduce tus Apellidos" required>
        <br><br>

        <label for="age">Edad:</label>
        <input type="number" id="age" name="age" min="0" max="99"  placeholder="edad" required>
        <br><br>

        <label for="country">País:</label>
        <select id="country" name="country" required>
            <option value="España">España</option>
            <option value="Suiza">Suiza</option>
            <option value="Andorra">Andorra</option>
            <option value="Argentina">Argentina</option>
            <option value="Otro...">Otro...</option>
        </select>
        <br><br>

        <label for="email">Correu electrònic:</label>
        <input type="email" id="email" name="email" placeholder="ejemplo@gmail.com" required>

        <br><br>

        <label for="interests">¿Aparte de las Caciones que más te interesa?</label> <br>
        <textarea id="interests" name="interests" rows="4" cols="50" placeholder="Ej: últimas noticias de Myke, sus conciertos..."></textarea>

        <br><br>

        <button type="submit">Unirme a la Newsletter</button>
    </form>
    <br>
    <img src="../img/FOTOMYKE.jpg" alt="Myke Towers" style="width: 30vh;">
    <footer>
        <hr>
        <ul style="list-style-type:none; padding: 0;">
            <li style="display:inline; margin-right: 20px;">
                <a href="../index.html"><strong>Inicio</strong></a>
            </li>
            <li style="display:inline; margin-right: 20px;">
                <a href="./discografia.html"><strong>Discografía</strong></a>
            </li>
            <li style="display:inline;">
                <a href="./forms.html"><strong>Formulario de inscripción</strong></a>
            </li>
        </ul>
<hr>
  </footer>
</body>
</html>
