<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Álbum la vida</title>
    <link rel="icon" href="../img/disco.svg">
</head>
<body>
    <h1>Álbum la vida es una</h1>
    <h3>Myke Towers Top 10:</h3>
    <hr>
    <nav>
        <ul style="list-style-type:none; padding: 0;">
            <li style="display:inline; margin-right: 20px;">
                <a href="../index.html"><strong>Inicio</strong></a>
            </li>
            <li style="display:inline; margin-right: 20px;">
                <a href="./discografia.html"><strong>Discografía</strong></a>
            </li>
            <li style="display:inline;">
                <a href="./forms.html"><strong>Formulario de inscripción</strong></a>
            </li>
        </ul>
    </nav>
 <hr>
 <br>

    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Título</th>
                <th>Cantante/s</th>
                <th>Duración</th>
            </tr>
        </thead>
        <tr bgcolor="lightgrey">
            <td><a href="https://www.youtube.com/watch?v=9k3wMoQn-DQ">Ulala</a></td>
            <td>Myke Towers (con Daddy Yankee)</td>
            <td>3:42 min aprox.</td>
        </tr>
        <tr bgcolor="lightblue">
            <td><a href="https://www.youtube.com/watch?v=ga24VfMGnCY">Celos</a></td>
            <td>Myke Towers (con J Balvin)</td>
            <td>3:26 min aprox.</td>
        </tr>
        <tr bgcolor="lightgrey">
            <td><a href="https://www.youtube.com/watch?v=sIEO7KfTZ20">Conocerte</a></td>
            <td>Myke Towers (con Ozuna)</td>
            <td>3:31 min aprox.</td>
        </tr>
        <tr bgcolor="lightblue">
            <td><a href="https://www.youtube.com/watch?v=D8b7BOANOrc">Don y Tego</a></td>
            <td>Myke Towers (con Arcángel)</td>
            <td>4:01 min aprox.</td>
        </tr>
        <tr bgcolor="lightgrey">
            <td><a href="https://www.youtube.com/watch?v=tMD9eJSPhC0">Cama King</a></td>
            <td>Myke Towers (con Chita)</td>
            <td>3:40 min aprox.</td>
        </tr>
        <tr bgcolor="lightblue">
            <td><a href="https://www.youtube.com/watch?v=Liaqmx_-hr0">Aguardiente</a></td>
            <td>Myke Towers</td>
            <td>3:55 min aprox.</td>
        </tr>
        <tr bgcolor="lightgrey">
            <td><a href="https://www.youtube.com/watch?v=BVdngsy95mY">Lala</a></td>
            <td>Myke Towers</td>
            <td>3:38 min aprox.</td>
        </tr>
        <tr bgcolor="lightblue">
            <td><a href="https://www.youtube.com/watch?v=xl3Cq2b97jo">Mi Droga</a></td>
            <td>Myke Towers</td>
            <td>3:45 min aprox.</td>
        </tr>
        <tr bgcolor="lightgrey">
            <td><a href="https://www.youtube.com/watch?v=7jpp_mEGxnU">Flow Jamaican</a></td>
            <td>Myke Towers</td>
            <td>3:50 min aprox.</td>
        </tr>
        <tr bgcolor="lightblue">
            <td><a href="https://www.youtube.com/watch?v=oUZ7LzNwEOM">Lo Logré</a></td>
            <td>Myke Towers</td>
            <td>3:48 min aprox.</td>
        </tr>
        </table>
        <a><img src="../img/lavida.png" alt="portadalavida" width="250vh" height="250vh"></a>

        <h3>Escucha aquí la mejor canció del álbum:<h3>        

    <audio controls autoplay>
        <source src="../audio/bslavida.mp3" type="audio/mp3">
        Tu navegador no soporta el elemento de audio.
      </audio>

      <hr>
      <footer>
          <ul style="list-style-type:none; padding: 0;">
              <li style="display:inline; margin-right: 20px;">
                  <a href="../index.html"><strong>Inicio</strong></a>
              </li>
              <li style="display:inline; margin-right: 20px;">
                  <a href="./discografia.html"><strong>Discografía</strong></a>
              </li>
              <li style="display:inline;">
                  <a href="./forms.html"><strong>Formulario de inscripción</strong></a>
              </li>
          </ul>
  <hr>
    </footer>
</body>
</html>