<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Álbum Pantera Negra</title>
    <link rel="icon" href="../img/disco.svg">
</head>
<body>
    <h1>Álbum Pantera Negra</h1>
    <h3>Myke Towers Top 10:</h3>

    <table border="1" width="100%">
        <thead>
            <tr>
                <th>Título</th>
                <th>Cantante/s</th>
                <th>Duración</th>
            </tr>
        </thead>
        <tr bgcolor="lightgrey">
            <td><a href="https://www.youtube.com/watch?v=qAzWL2M1sN8&list=PLICSCPefPgxESl8oZkviVVNqmUrPLZi4S">Competencia</a></td>
            <td>Myke Towers</td>
            <td>3:10 min aprox.</td>
        </tr>
        <tr bgcolor="#dfcbb0">
            <td><a href="https://www.youtube.com/watch?v=n-eKMm_u_iM&list=PLICSCPefPgxESl8oZkviVVNqmUrPLZi4S&index=2">Otra Oportunidad</a></td>
            <td>Myke Towers</td>
            <td>2:49 min aprox.</td>
        </tr>
        <tr bgcolor="lightgrey">
            <td><a href="https://www.youtube.com/watch?v=jg4mZak7wzQ&list=PLICSCPefPgxESl8oZkviVVNqmUrPLZi4S&index=3">Degenere</a></td>
            <td>Myke Towers (con benny blanco)</td>
            <td>2:12 min aprox.</td>
        </tr>
        <tr bgcolor="#dfcbb0">
            <td><a href="https://www.youtube.com/watch?v=PGaUH4jtid8&list=PLICSCPefPgxESl8oZkviVVNqmUrPLZi4S&index=4">Mejor Así</a></td>
            <td>Myke Towers</td>
            <td>3:39 min aprox.</td>
        </tr>
        <tr bgcolor="lightgrey">
            <td><a href="https://www.youtube.com/watch?v=LOMdYPYZRQQ&list=PLICSCPefPgxESl8oZkviVVNqmUrPLZi4S&index=5">También</a></td>
            <td>Myke Towers</td>
            <td>2:19 min aprox.</td>
        </tr>
        <tr bgcolor="#dfcbb0">
            <td><a href="https://www.youtube.com/watch?v=yCPm5QV7nsw&list=PLICSCPefPgxESl8oZkviVVNqmUrPLZi4S&index=6">No te vayas</a></td>
            <td>Myke Towers (con Juhn)</td>
            <td>4:10 min aprox.</td>
        </tr>
        <tr bgcolor="lightgrey">
            <td><a href="https://www.youtube.com/watch?v=jlwb8U7WG3E&list=PLICSCPefPgxESl8oZkviVVNqmUrPLZi4S&index=7">El Momento</a></td>
            <td>Myke Towers</td>
            <td>3:19 min aprox.</td>
        </tr>
        <tr bgcolor="#dfcbb0">
            <td><a href="https://www.youtube.com/watch?v=wtt2KiMVF9g&list=PLICSCPefPgxESl8oZkviVVNqmUrPLZi4S&index=8">Frío</a></td>
            <td>Myke Towers</td>
            <td>2:40 min aprox.</td>
        </tr>
        <tr bgcolor="lightgrey">
            <td><a href="https://www.youtube.com/watch?v=xCVKmPrc-Bg&list=PLICSCPefPgxESl8oZkviVVNqmUrPLZi4S&index=9">Caché</a></td>
            <td>Myke Towers</td>
            <td>3:16 min aprox.</td>
        </tr>
        <tr bgcolor="#dfcbb0">
            <td><a href="https://www.youtube.com/watch?v=cX1ZjUIFm5A&list=PLICSCPefPgxESl8oZkviVVNqmUrPLZi4S&index=10">Otro Nivel</a></td>
            <td>Myke Towers (con sech)</td>
            <td>3:48 min aprox.</td>
        </tr>        
        
        
        </table>
        <a><img src="../img/panteranegra.jpg" alt="portadalavida" width="250vh" height="250vh"></a>

        <h3>Escucha aquí la mejor canció del álbum:<h3>        

    <audio controls autoplay>
        <source src="../audio/bspanteranegra.mp3" type="audio/mp3">
        Tu navegador no soporta el elemento de audio.
      </audio>

    <footer>
        <hr>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="./discografia.html">Discografía</a></li>
                <li><a href="./forms.html">Formulario de inscripción</a></li>
            </ul>
        </nav>
        <hr>
    </footer>
</body>
</html>